<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>project2-session-example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  
  
  
  
  
      <display-name>Session</display-name>
    <description>
       Session
    </description>


  <!-- Define servlets that are included in the example application -->


  <servlet>
    <servlet-name>ShowSessionServlet</servlet-name>
    <servlet-class>ShowSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowItemsServlet</servlet-name>
    <servlet-class>ShowItems</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowSessionServlet</servlet-name>
    <url-pattern>/servlet/ShowSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowItemsServlet</servlet-name>
    <url-pattern>/servlet/ShowItems</url-pattern>
  </servlet-mapping>
</web-app>